#scrollable {
    position: relative;
    background-color: lightblue;
    height: 70px;
    padding: 10px;
    border: 5px solid black;
    margin: 1em;
    overflow: auto;
}

.blue {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 1em;
}
.red {
    color: red;
}
.big {
    font-size: 2em;
}
.underline {
    text-decoration: underline;
}