// =========== COLORS ===========
$main-color: rgb(166, 76, 76);
$border-color: rgb(131, 178, 172);
$secondary-color: rgb(109, 109, 152);
$background-color: rgba(233, 226, 226, 0.763);
$ternary-color: rgb(113, 167, 108);
$link-color: $border-color;

// ========== FONTS ===========
$font-size: 20px;
$button-font-type: Sans-Serif;
 

// =========== SIZES ===========
$header-height: 80px;
$footer-height: 60px;

$radius:10px;

